<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-img">
        <img
          src="https://imgur.com/o533wY4.jpg"
          width="75"
          height="34"
          alt="QPI Logo"
        />
      </li>
      {% if user.access == "2" or user.access == "3"%} {% if user.access == "2"
      %}
      <li class="nav-item">
        <a class="nav-link" href="/">My Shifts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/schedule">Schedule Shifts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/swap">Swap Shifts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/drop">Drop Shifts</a>
      </li>
      {% if user.part_time_ind == "N" %}
      <li class="nav-item">
        <a class="nav-link" href="/vacation">Request Vacation</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="/notifications">Notifications</a>
      </li>
      {% endif %} {% if user.access == "3" %}
      <li class="nav-item">
        <a class="nav-link" href="/calendar">Calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/log">Log</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/messaging">Messaging</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/notifications">Notifications</a>
      </li>
      {% endif %} {% endif %}
    </ul>

    {% if user %}
    <a class="btn btn-outline-secondary mr-2" href="/settings" role="button"
      >Settings</a
    >
    <a class="btn btn-outline-secondary mr-2" href="/logout" role="button"
      >Logout</a
    >
    {% endif %} {% if not user %}
    <a class="btn btn-outline-secondary mr-2" href="/register" role="button"
      >Register</a
    >
    <a class="btn btn-outline-secondary mr-2" href="/login" role="button"
      >Login</a
    >
    {% endif %}
  </div>
</nav>
