{% extends 'layout.html' %}

{% block body %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css" />
    <link href="https://cdn.datatables.net/rowgroup/1.0.2/css/rowGroup.dataTables.min.css" rel="stylesheet"
        type="text/css" />


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.0.2/js/dataTables.rowGroup.min.js"></script>


</head>

<body>
    <!-- Header  -->
    <div class="list-group pt-2 text-white">
        <a class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1">Drop Shifts</h3>
            </div>
        </a>
    </div>
    <!-- End Header -->


    <div class="jumbotron" style="padding: 0rem 2rem;">
        <div class="container">
            <div class="row">
                <!-- Dropdown Div -->
                <div class="col-sm">
                    <div style="padding: 2rem 2rem;">
                        <div class="form-group">
                            <form action="" id="dropForm" method="post">

                                <label for="dropShift1">Select Shift to Drop</label>
                                <select class="form-control" id="dropShift1" name="drop_shift" style="min-width:150px; max-width: 300px">
                                    {% for key in schedule %}
                                    <option value="{{ schedule[key]['id_shift_daypart']}}"> {{ schedule[key]['date'] }} {{ schedule[key]['day_of_week'] }}  {{ schedule[key]['start_time'] }}- {{ schedule[key]['end_time'] }} </option> 
                                    {% endfor %}
                                </select>
                                <br>
                                <button type="button" class="btn btn-primary" id="dropShift" data-toggle="modal"
                                    data-target="#dropModal"> Drop Shift </button>
                            </form>
                        </div>

                        <!-- Modal  -->
                        <div class="modal" id="dropModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Confirmation</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="mb-1">Are you sure you would like to request to drop shift: </p>
                                    
                                        <p id="droppedShift"
                                            style="font-weight: bolder; font-size: 20px; text-align: center;"></p>

                                        <div class="form-group">
                                            <label for="exampleTextarea">Reason for Dropping Shift</label>
                                            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                                        </div>
                                        <br>
                                        <p class="mb-1">REMINDER: If you are going under 15 hours with this drop, a
                                            manager will have to approve the drop!
                                            You are still assigned this shift until it gets approved!
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal"
                                            id="dropConfirm"> Request Drop</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Modal  -->

                    </div>

                </div>
                <!-- End Dropdown -->

                <div class="col-sm" style="padding-top:2rem">
                    <!-- Pending Drop Requests Table -->
                    <div class="card text-black bg-secondary mb-3" style="padding: 10px 15px;">
                        <div style="font-size:16px"> <b> Pending Drop Requests </b></div>
                        <table class="display" name="dataTable" id="pendingDrop">
                            <thead>
                                <tr>
                                    <th> </th>
                                    <th class="hidden"></th>
                                    <th scope="col" style="min-width: 120px;"> Shift </th>
                                    <th scope="col">Date Request Sent</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, value in pendingDrops.items() %}
                                <tr>
                                    <td></td>
                                    <td> {{key}} </td>
                                    <td> {{ value['start_date'] }} {{ value['start_time'] }} - {{ value['end_time'] }}  </td>
                                    <td> {{ value['request_sent_date'] }} </td> 
								</tr>
								 {% endfor %} 

                            </tbody>
                        </table>
                        <br>
                        <button type="button" class="btn btn-primary" id="cancelRequest" style="width: 160px;"> Cancel
                            Drop Request</button>
                    </div>
                    <!-- End Pending Drop Requests Table  -->

                    <!-- Approved Drop Request Table  -->
                    <div class="card text-black bg-secondary mb-3" style="padding: 10px 15px;">

                        <div style="font-size:16px"> <b> Approved Drop Requests </b></div>
                        <table class="display" name="dataTable" id="ApprovedDropRequest">
                            <thead>
                                <tr>
                                    <th class="hidden"> </th>
                                    <th scope="col" style="min-width: 150px;"> Shift </th>
                                    <th scope="col"> Date Request Approved </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, value in approvedDrops.items() %}
                                <tr>
                                    <td> {{key }} </td>
                                    <td> {{ value['start_date'] }} {{ value['start_time'] }} - {{ value['end_time'] }}  </td>
                                    <td> {{ value['request_sent_date'] }} </td> 
								</tr>
								 {% endfor %} 
                            </tbody>
                        </table>

                    </div>
                    <!-- End Approved Drop Requests Table  -->
                </div>
            </div>
        </div>
        <!-- Form used for post request when cancelling a drop request  -->
        <form action="" id="cancelReqForm" method="post">

        <script type="text/javascript" class="init">

            $(function () {
                //Create pending drops table 
                var table = $('table#pendingDrop').DataTable({
                    //adds checkboxs to first row 
                    columnDefs: [{
                        orderable: false,
                        className: 'select-checkbox',
                        targets: 0,
                        defaultContent: '',
                    }],
                    //Adds ability to select one row 
                    select: {
                        style: 'os',
                        selector: 'td:first-child'
                    },
                    "language": {
                        "emptyTable": " "
                    },
                    //Column names 
                    columns: [
                        {data : "checkMark"},
						{ data: "id", "visible": false },
						{ data: "Shift" },
						{ data: "Request date" },
					],
                    "paging": false,
                    "searching": false,
                    "ordering": false,
                    "info": false,
                    responsive: true,
                });
            });
            //Create approved drop requests table 
            var tableA = $('table#ApprovedDropRequest').DataTable({
                "language": {
                    "emptyTable": " "
                },
                "paging": false,
                "searching": false,
                "ordering": false,
                "info": false,
                responsive: true,
                //column names 
                columns: [
						{ data: "id", "visible": false },
						{ data: "Shift" },
						{ data: "Request date" },
					
				],
            });

            //button click on main page, brings up modal  
            $('#dropShift').click(function () {
                var orgShiftVar1 = document.getElementById("dropShift1");
                //gets selected shift info 
                document.getElementById("droppedShift").innerHTML = orgShiftVar1.options[orgShiftVar1.selectedIndex].text;
            });

            //Confirm shift to drop (button click in modal)
            $('#dropConfirm').click(function () {
               
                let dropped_shift = document.getElementById('dropShift1');
                //submits form which sends post request 
                var form = $('form#dropForm')
                form.submit()
            });

            //Cancel Drop Request,  deselect row from table 
            $('#cancelRequest').on('click', function () {
                var table = $('#pendingDrop').DataTable();
                var selected = table.rows('.selected').data();
                var form = $('form#cancelReqForm')
                //Add selected shift to form 
                form.append('<input name="cancel_drop" value="' + selected[0].id + '" hidden> ')
                //Submits form, sends post request with id of cancelled request 
                form.submit()
                //removes selected row from table 
                table.rows('.selected').remove()
                table.draw(false);
            })
        </script>

    </div>

</body>

</html>

{% endblock %}