{% extends 'layout.html' %}

{% block body %}

<head>
	<style>
		td {
			width: 150px;
			padding: 5px
		}
	</style>
</head>

<body>
	<div class="list-group pt-2 text-white">
		<a class="list-group-item list-group-item-action flex-column align-items-start active">
		  <div class="d-flex w-100 justify-content-between">
			<h3 class="mb-1">My Shifts</h3>
		  </div>
			<hr class="my-1">
	  
		   <p class="mb-1">Role: Part Time</p>
		   <p class="float-right">Total Hours 11/4-11/10 : <span class="badge badge-pill badge-secondary">25</span></p>
		   <p class="mb-1">Position: Line Lead</p>
	  
		</a>
	  </div>
	<div class="jumbotron" style="padding: 1rem 2rem;">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a style="color: #158cba">Monday 11/4</a>
			</h4>
		</div>
		<table>
			<thead>
				<tr class="table-default">
					<td>6:00 am - 11:00 am</td>
					<td>Part Time Morning</td>
				</tr>
				<tr class="table-default">
					<td>9:00 am - 2:00 pm</td>
					<td>Part Time Mid-Morning</td>
				</tr>
				</tbody>
		</table>
		<br>
		<div class="panel-heading">
			<h4 class="panel-title">
				<a style="color: #158cba">Tuesday 11/5</a>
			</h4>
		</div>
		<table>
			<thead>
				<tr class="table-default">
					<td>6:00 am - 11:00 am</td>
					<td>Part Time Morning</td>
				</tr>
				<tr class="table-default">
					<td>9:00 am - 2:00 pm</td>
					<td>Part Time Mid-Morning</td>
				</tr>
				</tbody>
		</table>
		<br>
		<div class="panel-heading">
			<h4 class="panel-title">
				<a style="color: #158cba">Thursday 11/7</a>
			</h4>
		</div>
		<table>
			<thead>
				<tr class="table-default">
					<td>6:00 am - 11:00 am</td>
					<td>Part Time Morning</td>
				</tr>
				</tbody>
		</table>



	</div>
</body>
{% endblock %}