{% extends 'layout.html' %} {% block body %}
<div class="jumbotron" style="padding: 2rem 2rem; width: 400px; margin: auto;">
  <form method="POST" action="">
    {% from "includes/_formhelper.html" import render_field %}
    <form method="POST" action="">
      {% if Error %}
      <h1>{{Error}}</h1>
      {% endif %}
      <div class="form-group">
        {{render_field(form.username, class_="form-control")}}
      </div>
      <div class="form-group">
        {{render_field(form.password, class_="form-control")}}
      </div>
      <input type="submit" class="btn btn-primary" value="Submit" />
      <a class="btn btn-primary mr-2" href="/register" role="button"
        >Register</a
      >
    </form>
    {% endblock %}
  </form>
</div>
