{% extends 'layout.html' %}

{% block body %}

<!-- Using https://datatables.net/examples/index -->


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css" />
    <link href="https://cdn.datatables.net/rowgroup/1.0.2/css/rowGroup.dataTables.min.css" rel="stylesheet"
        type="text/css" />


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.0.2/js/dataTables.rowGroup.min.js"></script>

    <style>
        td {
            padding: 10px;
            padding-right: 10px;
        }

        p {
            font-size: 16px;
        }

        #shifts tbody tr.selected {
            background-color: #158CBA;
            color: white;
        }

        #shifts tbody td.noSpots {
            background-color: grey;
        }
    </style>
</head>

<body>
    <!-- Header  -->
    <div class="list-group pt-2 text-white">
        <a class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1">Messaging</h3>


            </div>
        </a>
    </div>
    <!-- End Header  -->

    <div class="jumbotron" style="padding: 1rem 2rem; width:100%;">

        <form action=""  method="post" style="max-width: 500px">
            <label for="exampleSelect1">Select Employee Role Group</label>
            <select id="role" name="role" class="form-control">
                <option hidden> Select One</option>
                <option value="0">All</option>
                <option value="2">Production</option>
                <option value="6">Production Management</option>
                <option value="4">Line Leader </option>
                <option value="3">Thermoform Department</option>
                <option value="5">Print/Dye Cut </option>
            </select>
            <br>
            <label for="exampleTextarea">Message</label>
            <textarea id="messaage" name="message" rows="4"  class="form-control" maxlength="4000"></textarea>
            <br> 
            <br> 
            <input type="submit" value="Send Message" class="btn btn-primary" >
        </form>



       
    </div>

</body>

{% endblock %}