{% extends 'layout.html' %}

{% block body %}
<!DOCTYPE html>
<html>
<head>

	<style>
		fieldset {
			font-size: 16px;
			border: 1px solid grey;
			border-radius: 10px;
			padding: 15px;
			margin: 5px;
		}
	
		button {
			float: right; 
			font-size: 14px;
			text-align: center;
			margin: 7.5px;
			height: 35px;
			width: 68px;
		}
	</style>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

	<div class="list-group pt-2 text-white">
		<a class="list-group-item list-group-item-action flex-column align-items-start active">
			<div class="d-flex w-100 justify-content-between">
				<h3 class="mb-1">Notifications</h3>
			</div>
		</a>
	</div>
</head>

<body>
	<div class="jumbotron" style="padding: 2rem 2rem;">

			{% if user.access == "2" %}

			{% for key, value in vacationAppDict.items() %}
					<fieldset>
						Your vacation request for dates {{ value['start_date'] }} - {{ value['end_date'] }} has been approved.  </td>
					</fieldset>
			{% endfor %} 

			{% for key, value in vacationDenDict.items() %}
					<fieldset>
						Your vacation request for dates {{ value['start_date'] }} - {{ value['end_date'] }} has been denied.  </td>
					</fieldset>
			{% endfor %} 


			{% for key, value in dropAppDict.items() %}
					<fieldset>
						Your request to drop shift {{ value['start_date'] }} {{ value['start_time'] }} - {{ value['end_time'] }} has been approved.  </td>
					</fieldset>
			{% endfor %} 

			{% for key, value in dropDenDict.items() %}
					<fieldset>
						Your request to drop shift {{ value['start_date'] }} {{ value['start_time'] }} - {{ value['end_time'] }} has been denied.  </td>
					</fieldset>
			{% endfor %} 

			{% for key, value in swapAppDict.items() %}
					<fieldset>
						Your request to swap shift {{ value['orig_start_date'] }} {{ value['orig_start_time'] }} - {{ value['orig_end_time'] }} for shift {{ value['new_start_date'] }} {{ value['new_start_time'] }} - {{ value['new_end_time'] }} has been approved.  </td>
					</fieldset>
			{% endfor %} 

			{% for key, value in swapDenDict.items() %}
					<fieldset>
						Your request to swap shift {{ value['orig_start_date'] }} {{ value['orig_start_time'] }} - {{ value['orig_end_time'] }} for shift {{ value['new_start_date'] }} {{ value['new_start_time'] }} - {{ value['new_end_time'] }} has been denied.  </td>
					</fieldset>
			{% endfor %} 

			{% for key, value in pendEmpSwapDict.items() %}
					<fieldset>
						{{ value['from_first_name'] }} {{ value['from_last_name'] }} has requested to swap their shift: {{ value['their_start_date'] }} {{ value['their_start_time'] }} - {{ value['their_end_time'] }} for your shift: {{ value['your_start_date'] }} {{ value['your_start_time'] }} - {{ value['your_end_time'] }}.  
						<p hidden id="key">{{key}}</p>
						<button type="button" class="btn btn-primary" id="denySwapBtn" value="denied"> Decline </button>
						<button type="button" class="btn btn-primary" id="acceptSwapBtn" value="approved"> Accept </button>
					</fieldset>
			{% endfor %} 
			{% endif %}

			{% if user.access == "3" %}
			{% for value in messages %}
			<fieldset>
				{{ value['message'] }}  </td>
			</fieldset>
			{% endfor %} 

			{% for key, value in pendDropDict.items() %}
					<fieldset>
						{{ value['first_name'] }} {{ value['last_name'] }} would like to drop shift {{ value['date'] }} {{ value['start_time'] }} to {{ value['end_time'] }}.  
						<p hidden id="keyD">{{key}}</p>
						<button type="button" class="btn btn-primary" id="denyDropBtn"> Decline </button>
						<button type="button" class="btn btn-primary" id="acceptDropBtn"> Accept </button>
					</fieldset>
			{% endfor %} 

			{% for key, value in pendVacDict.items() %}
					<fieldset>
						{{ value['first_name'] }} {{ value['last_name'] }} would like to request a vacation from {{ value['start_date'] }} to {{ value['end_date'] }}.  
						<p hidden id="keyV">{{key}}</p>
						<button type="button" class="btn btn-primary" id="denyVacBtn"> Decline </button>
						<button type="button" class="btn btn-primary" id="acceptVacBtn"> Accept </button>
					</fieldset>
			{% endfor %} 
		    {% endif %}
	</div>
	
	<form action="" id="notifForm" method="post">

	<script type="text/javascript" class="init">
	$(document).ready(function () {
		$('#acceptSwapBtn').click(function () {
			var form = $('form#notifForm')
			form.append('<input name="status_app" value="Approved" hidden> ')
			form.append('<input name="id_swap" value="'+ document.getElementById('key').innerHTML +'" hidden> ')
			form.submit();
		});

		$('#denySwapBtn').click(function () {
			var form = $('form#notifForm')
			form.append('<input name="status_deny" value="Denied" hidden> ')
			form.append('<input name="id_swap" value="' + document.getElementById('key').innerHTML + '" hidden> ')
			form.submit();
		});

		$('#acceptDropBtn').click(function () {
			var form = $('form#notifForm')
			form.append('<input name="drop_app" value="Approved" hidden> ')
			form.append('<input name="id_drop" value="' + document.getElementById('keyD').innerHTML + '" hidden> ')
			form.submit();
		});

		$('#denyDropBtn').click(function () {
			var form = $('form#notifForm')
			form.append('<input name="drop_deny" value="Denied" hidden> ')
			form.append('<input name="id_drop" value="' + document.getElementById('keyD').innerHTML + '" hidden> ')
			form.submit();

		});
		$('#acceptVacBtn').click(function () {
			var form = $('form#notifForm')
			form.append('<input name="vac_app" value="approved" hidden> ')
			form.append('<input name="id_vac" value="' + document.getElementById('keyV').innerHTML + '" hidden> ')
			form.submit();
		});

		$('#denyVacBtn').click(function () {
			var form = $('form#notifForm')
			form.append('<input name="vac_deny" value="denied" hidden> ')
			form.append('<input name="id_vac" value="' + document.getElementById('keyV').innerHTML + '" hidden> ')
			form.submit();
		});
	});
	</script>

</body>

</html>

{% endblock %}
