{% extends 'layout.html' %} {% block body %}
<form method="POST" action="">
  {% from "includes/_formhelper.html" import render_field %}
  <form method="POST" action="">
    <div class="jumbotron" style="padding: 2rem 2rem; width: 400px; margin:auto;">
      {{render_field(form.username, class_="form-control")}}
    {% if Error %}
    <p>Please enter a valid QPI Employee ID</p>
    {% endif %}
    <br> 
    <p>
      <input type="submit" class="btn btn-primary" value="Begin Registration" />
    </p>
  </div>

  </form>
</form>
{% endblock %}
