{% extends 'layout.html' %}

{% block body %}

<!-- Using https://datatables.net/examples/index -->


<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css" />
	<link href="https://cdn.datatables.net/rowgroup/1.0.2/css/rowGroup.dataTables.min.css" rel="stylesheet"
		type="text/css" />


	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
	<script src="https://cdn.datatables.net/rowgroup/1.0.2/js/dataTables.rowGroup.min.js"></script>

	<style>
		td {
			padding: 10px;
			padding-right: 10px;
		}

		p {
			font-size: 16px;
		}

		#shifts tbody tr.selected {
			background-color: #158CBA;
			color: white;
		}

		#shifts tbody td.noSpots {
			background-color: lightgrey;
		}
	</style>
</head>

<body>
	<!-- header  -->
	<div class="list-group pt-2 text-white">
		<a class="list-group-item list-group-item-action flex-column align-items-start active">
			<div class="d-flex w-100 justify-content-between">
				<h3 class="mb-1">Shift Selector: {{user.first_name}} {{user.last_name}}</h3>
			</div>
			<hr class="my-1">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="mb-1" id="position"></p>
						<p class="mb-1">Role: {{user.position}}</p>
					</div>
					<div class="col">
						<p class="mb-1" style="text-align: right" id="totalHoursTxt">Total Hours : <span
								class="badge badge-pill badge-secondary" style="font-size:18px"
								id="totalHrs"></span>
						</p>
						<p class="mb-1" style="text-align: right;" id="availHoursTxt">Available Hours : <span
								class="badge badge-pill badge-secondary" style="font-size:18px" id="availHrs"> 
							</span>
						</p>

					</div>
				</div>
			</div>
		</a>
	</div>
	<!-- End Header  -->

	<div class="jumbotron" style="padding: 2rem 2rem; align-items: left;">
	<!-- Shifts Table  -->
		<button type="button" class="btn btn-primary" id="deselectBtn"> Deselect All </button>
		<table class="display" id="shifts" name="dataTable" style="width:100%;">
			<thead>
				<tr>
					<th class="hidden"> id </th>
					<th>Day</th>
					<th>Date</th>
					<th>Time </th>
					<th>Spots Left</th>
				</tr>
			</thead>
			<tbody>
				{% for key in schedule %}
				<tr>
					<td> {{key.id_shift_daypart}} </td>
					<td> {{key.day_of_week}} </td>
					<td> {{key.shift_date}} </td>
					<td> {{key.start_time}} - {{key.end_time}} </td>
					<td> {{key.max_employees}} </td>
				</tr>
				{% endfor %}

			</tbody>
			<tfoot>

			</tfoot>
		</table>
		<br>
		<button type="button" class="btn btn-primary" id="submitShifts" data-toggle="modal"
			data-target="#myModal">Submit</button>
		<!-- End Shifts Table  -->
		<!-- Modal  -->
		<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Confirm Shifts</h5>
						<button type="button" id="exitBtn" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p id="warning"> </p>
						<table class="display" id="modal" name="dataTable" style="width:80%;">
							<thead>
								<tr>
									<th>Day</th>
									<th>Date</th>
									<th>Time </th>
								</tr>
							</thead>
							<tbody></tbody>
							</tbody>
						</table>
					</div>
					<div class="modal-footer">
						<input type="submit" id="submitBtn" class="btn btn-primary" data-dismiss="modal"
							name="shiftSubmitBtn" value="Confirm" >
					</div>
				</div>
			</div>
		</div>
		<!-- End Modal  -->

		<!-- Form used for post request  -->
		<form action="" id="submitForm" method="post">
		</form>

		<script type="text/javascript" class="init">
			//sets position of user 
			if ('{{user.part_time_ind}}' == "Y")
				document.getElementById("position").innerHTML = "Position: Part Time"
			else document.getElementById("position").innerHTML = "Position: Full Time"

			var collapsedGroups = {};

			$(function () {
				//Create master table 
				var table = $('table#shifts').DataTable({
					select: {
						//allows user to select mutiple rows 
						style: 'multi',
						'selector': 'td:not(.noSpots)',
					},
					"language": {
						"emptyTable": " "
					},
					//title of each column 
					columns: [
						{ data: "id", "visible": false },
						{ data: "day" },
						{ data: "date" },
						{ data: "time" },
						{ data: "spots_left" },

					],
					//additional settings on the table 
					"paging": false,
					"searching": false,
					"ordering": true,
					"info": false,
					responsive: true,
					//Table is sorted by coloumn 2, ascending
					order: [[2, 'asc']],

					//Groups the rows by day of week 
					rowGroup: {
						// Uses the 'row group' plugin
						dataSrc: 'day',
						startRender: function (rows, group) {
							var collapsed = !!collapsedGroups[group];

							rows.nodes().each(function (r) {
								r.style.display = collapsed ? 'none' : '';
							});

							// Add category name to the <tr>. NOTE: Hardcoded colspan
							return $('<tr/>')
								.append('<td colspan="8" style="text-align:center; background-color: #ece9e9;">' + group + ' (' + rows.count() + ')</td>')
								.attr('data-name', group)
								.toggleClass('collapsed', collapsed);
						}
					},
					//prevents user from selecting shifts with no spots left, or shifts they've already signed up for 
					"createdRow": function (row, data, index) {
						var shifts = '{{mySchedule}}'; 
						console.log("my shifts: ", shifts); 
						if (data.spots_left == 0 || shifts.includes(data.id)) {
							$('td', row).addClass('noSpots');
							$(this).toggleClass('selected');
						}
					},

				});
				//table in modal 
				$('table#modal').DataTable({
					"language": {
						"emptyTable": " "
					},
					"paging": false,
					"searching": false,
					"ordering": false,
					"info": false,
					columns: [
						{ data: "id" , visible: "false"},
						{ data: "day" },
						{ data: "date" },
						{ data: "time" },
						{ data: "spots" }

					],
				})
				//hides / collapses row group headers 
				$('table#shifts').on('click', 'tr.group-start', function () {
					var name = $(this).data('name');
					collapsedGroups[name] = !collapsedGroups[name];
					table.draw(false);
				});
			});
			//dynamically changes values of total and available hours and corresponding color 
			$(function () {
					var table = $('table.display').DataTable();
					var myShifts = '{{mySchedule}}'; 
					myShifts = myShifts.substr(1).slice(0, -1);
					//convert from string to array 
					totalHrs = 0
					if(myShifts != ""){
						var shifts = myShifts.split(", "); 
						//different if they are a line leader 
						totalHrs =  shifts.length * 5;
					}
					var availHrs = 0 
					if( 25 - totalHrs > 0 )
						availHrs = 25 - totalHrs; 
					//sets background & text color of total hours and available hours 
					document.getElementById("totalHrs").innerHTML = totalHrs;
					document.getElementById("availHrs").innerHTML = availHrs;
					if (table.rows().count() >= 4) {
						$("span#totalHours").css({ "background-color": "green", "color": "white" });
						$("span#availHours").css({ "background-color": "white", "color": "black" });
					}
					else if (table.rows().count() < 3) {
						$('span#totalHours').css({ "background-color": "grey", "color": "white;" });
						$('span#availHours').css({ "background-color": "grey", "color": "white;" });
					}
					else {
						$("span#totalHours").css({ "background-color": "white", "color": "black" });
						$("span#availHours").css({ "background-color": "white", "color": "black" });
					}
			});
			//submit shifts button - sends all shift info to modal 
			$('#submitShifts').click(function () {
				var table = $('#shifts').DataTable();
				//gets all selected rows 
				var selected = table.rows({ selected: true }).data().toArray();
				//add information to table in modal 
				for (var a in selected) {
					$('table#modal.display tbody').append('<tr/>');
					$('table#modal.display tbody')
							.append('<td class="submittedData"  hidden>' + selected[a].id + '</td>')
							.append('<td class="submittedData">' + selected[a].day + '</td>')
							.append('<td class="submittedData">' + selected[a].date + '</td>')
							.append('<td class="submittedData">' + selected[a].time + '</td>')
				}
				//figure out if they are over/at the number of shifts 
				var myShifts = '{{mySchedule}}'; 
				//get number of shifts 
				var numShifts = myShifts.split(", ").length; 
				var warning = $('#warning'); 
				//if they already have 5 shifts, hide submit button 
				if (numShifts == 5){
					document.getElementById("submitBtn").disabled = true;
					warning.append('<div class="alert alert-danger" role="alert"> You have already signed up for ' + numShifts + ' shifts. </div>' )
				}
				//if they have less than 5 shifts, but the new ones put them over, display how many they can sign up for 
				else if(numShifts + selected.length > 5){
					document.getElementById("submitBtn").disabled = true;
					shiftsLeft = (numShifts + selected.length) - 5;
					warning.append('<div class="alert alert-danger" role="alert"> You can only sign up for ' + shiftsLeft + ' more shift(s). </div>' )
				}

			});
			//Submit button in modal 
			$('#submitBtn').click(function () {
				//get the selected row 
				var table = $('#shifts').DataTable();
				var selected = table.rows({ selected: true }).data().toArray();
				//create form needed to 'POST' data 
				var form = $('form#submitForm')
				for (var a in selected) {
						//create input containing id_shift_daypart, this is what is sent through POST
					form.append('<input name="id_shift_daypart" value="'+ selected[a].id +'" hidden> ')
					$('table#modal.display tbody').append('</tr>')
				}
				//submits form, sends post request with all selected shift ids 
				form.submit();
				//remove rows from modal 
				$('table#modal.display td.submittedData').remove();
				//deselect rows in table 
				var table = $('table.display').DataTable();
				table.rows().deselect();

			});
			//Exit button in modal
			$('#exitBtn').click(function () {
				if(document.getElementById("submitBtn").disabled == true){
					document.getElementById("submitBtn").disabled = false;
				}
				$('table#modal.display td.submittedData').remove();
			});
			//deselects all rows from table 
			$('#deselectBtn').click(function () {
				var table = $('table.display').DataTable();
				table.rows().deselect();
			});

		</script>
	</div>

	</div>

</body>
{% endblock %}