{% extends 'layout.html' %} {% block body %}
<div>
  {% if user.access == "1" %}
  <div
    class="jumbotron text-center"
    style="padding: 2rem 2rem; width: 400px; margin: auto;"
  >
    <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h4 class="card-title">Attention!</h4>
        <p class="card-text">
          Before using the website you will have to confirm your e-mail address.
        </p>
      </div>
    </div>
  </div>
  {% endif %}
  <div
    class="jumbotron"
    style="padding: 2rem 2rem; width: 450px; margin: auto;"
  >
    <form method="POST" action="">
      {% from "includes/_formhelper.html" import render_field %}
      <form method="POST" action="">
        <div class="form-group">
          {{render_field(form.first_name, class_="form-control", disabled=True,
          value=user.first_name)}}
        </div>
        <div class="form-group">
          {{render_field(form.last_name, class_="form-control", disabled=True,
          value=user.last_name)}}
        </div>
        <div class="form-group">
          {{render_field(form.username, class_="form-control", disabled=True,
          value=user.id_employee)}}
        </div>
        <div class="form-group">
          {{render_field(form.email, class_="form-control", disabled=True,
          value=user.email)}}
        </div>
        <div class="form-group">
          {{render_field(form.position, class_="form-control", disabled=True,
          value=user.position)}}
        </div>
        <div class="form-group">
          {{render_field(form.employment_status, class_="form-control",
          disabled=True, value=status)}}
        </div>
        <div class="form-group">
          {{render_field(form.phone, class_="form-control", disabled=True,
          value=phone)}}
        </div>
        <a class="btn btn-primary mr-1" href="/editinfo" role="button"
          >Edit Contact Info</a
        >
        {% if user.access == "1" %}
        <a class="btn btn-primary mr-1" href="/verifyemail" role="button"
          >Verify Email</a
        >
        {% endif %}
        <a
          class="btn btn-primary mr-1"
          href="/changepassfromsettings"
          role="button"
          >Change Password</a
        >
      </form>
    </form>
  </div>
</div>
{% endblock %}
