{% extends 'layout.html' %}

{% block body %}

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css" />
	<link href="https://cdn.datatables.net/rowgroup/1.0.2/css/rowGroup.dataTables.min.css" rel="stylesheet"
		type="text/css" />

	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
	<script src="https://cdn.datatables.net/rowgroup/1.0.2/js/dataTables.rowGroup.min.js"></script>

	<style>
		table th {
			min-width: 20px;
		}
	</style>
</head>

<body>
	<!-- Header -->
	<div class="list-group pt-2 text-white">
		<a class="list-group-item list-group-item-action flex-column align-items-start active">
			<div class="d-flex w-100 justify-content-between">
				<h3 class="mb-1">Swap Shifts</h3>
			</div>
		</a>
	</div>
	<!-- End Header  -->

	<div class="jumbotron" style="padding: 0rem 1rem;">

		<div class="container">
			<div class="row">
				<div class="col-sm">
					<div style="padding: 2rem 2rem;">

						<!-- Swap by Employee -->
						<form action="" id="submitForm" method="post">
							<h3 class="mb-1">Swap Shifts with Employee</h3>
							<!-- First Dropdown -->
							<label for="swapShift1">Select Shift to Swap</label>
							<select class="form-control" id="swapShift1" name="swapShift1"
								style="min-width:100px; max-width: 300px">
								<option selected="selected"> Select One </option>
								{% for key in schedule %}
								<option id="Orig_Shift" value="{{ schedule[key]['id_shift_daypart'] }}"> {{ schedule[key]['date'] }} {{ schedule[key]['start_time'] }} -
									{{ schedule[key]['end_time'] }} </option>
								{% endfor %}
							</select>
							<!-- Second Dropdown -->
							<label for="swapShift2">Select Employee to Swap with</label>
							<select class="form-control" id="swapShiftEmp" name="swapShiftEmp"
								style="min-width:100px;max-width: 300px; text-align: center;">
							</select>

							<!-- Third Dropdown -->
							<label for="swapShift2">Selected Employee's Shifts</label>
							<select class="form-control" id="swapShift2" name="swapShift2"
								style="min-width:100px; max-width: 300px; text-align: center;">
							</select>
							<br>
							<button type="button" class="btn btn-primary" id="byEmp" data-toggle="modal"
								data-target="#myModalEmp">Swap Shift</button>
						</form>

						<!-- Swap by Employee Modal  -->
						<div class="modal" id="myModalEmp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
							aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Confirmation</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p class="mb-1">Are you sure you would like to send a request to swap shift:
										</p>
										<p id="submittedEmpSwap1" style="font-size: 18px; text-align: center;"> </p>
										<p id="submittedEmpSwap2" style="font-size: 18px; text-align: center;"> </p>
										<p id="submittedEmpSwap3" style="font-size: 18px; text-align: center;"> </p>

										<p class="mb-1">REMINDER: You are still assigned this shift until someone
											accepts your request!</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-primary" data-dismiss="modal"
											id="swapConfirmEmp">Request
											Swap</button>
									</div>
								</div>
							</div>
						</div>

					
					</div>

				</div>

				<!-- Pending Swap Table -->
				<div class="col-sm" style="padding-top:2rem">
					<div class="card text-black bg-secondary mb-3" style="padding: 10px 10px;">

						<div style="font-size:16px"> <b> Pending Swap Request </b></div>
						<table class="display" name="dataTable" id="PendingSwap">
							<thead>
								<tr>
									<th style="max-width: 20px"> </th>
									<th> </th>
									<th scope="col" > Original Shift </th>
									<th scope="col" > New Shift</th>
									<th scope="col" > Employee </th>
									<th scope="col"> Request Sent </th>
								</tr>
							</thead>
							<tbody>
								{% for key in pendingSwaps %}
								<tr>
									<td></td>
									<td> {{key}} </td> 
									<td> {{pendingSwaps[key].orig_start_date}} {{pendingSwaps[key].orig_start_time}}-{{pendingSwaps[key].orig_end_time}}  </td>
									<td> {{pendingSwaps[key].new_start_date}} {{pendingSwaps[key].new_start_time}}-{{pendingSwaps[key].new_end_time}}  </td>
									<td> {{pendingSwaps[key].first_name}} {{pendingSwaps[key].last_name}} </td>
									<td> {{pendingSwaps[key].request_sent_date}} </td>
								</tr>
								{% endfor %}

							</tbody>
						</table>
						<br>
						<button type="button" class="btn btn-primary" id="cancelRequest" style="width: 160px;"> Cancel
							Swap Request</button>
					</div>
					<!-- Approved Swap Table  -->
					<div class="card text-black bg-secondary mb-3" style="padding: 10px 10px;">

						<div style="font-size:16px"> <b> Approved Swap Request </b></div>
						<table class="display" name="dataTable" id="ApprovedSwap">
							<thead>
								<tr>
									<th scope="col" > New Shift </th>
									<th scope="col" > Original Shift</th>
									<th scope="col" > Employee </th>
									<th scope="col" > Approved Date </th>
								</tr>
							</thead>
							<tbody>
								{% for key in approvedSwaps %}
								<tr>
									<td> {{approvedSwaps[key].new_start_date}} {{approvedSwaps[key].new_start_time}}-{{approvedSwaps[key].new_end_time}}  </td>
									<td> {{approvedSwaps[key].orig_start_date}} {{approvedSwaps[key].orig_start_time}}-{{approvedSwaps[key].orig_end_time}}  </td>
									<td> {{approvedSwaps[key].first_name}} {{approvedSwaps[key].last_name}} </td>
									<td> {{approvedSwaps[key].request_sent_date}} </td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<!-- Form used for post request when cancelling a swap request  -->
				<form action="" id="cancelReqForm" method="post">

			</div>
		</div>

	</div>

	<script type="text/javascript" class="init">
		$(document).ready(function () {
			//Create Pending swap table 
			$('#PendingSwap').DataTable({
				columnDefs: [{
					orderable: false,
					className: 'select-checkbox',
					targets: 0,
					defaultContent: '',
				}],
				//column titles 
				columns: [
                        {data : "checkMark"},
						{ data: "id", "visible": false },
						{ data: "OrigShift" },
						{ data: "NewShift" },
						{ data: "Employee" },
						{ data: "Date" },

					],
				select: {
					style: 'os',
					selector: 'td:first-child'
				},
				"language": {
					"emptyTable": " "
				},
				"paging": false,
				"searching": false,
				"ordering": false,
				"info": false,
				responsive: true,
			});
			//Approved swap table 
			$('#ApprovedSwap').DataTable({
				"language": {
					"emptyTable": " "
				},
				"paging": false,
				"searching": false,
				"ordering": false,
				"info": false,
				responsive: true,
			});
		});

		//Cancel pending drop requst 
		$('#cancelRequest').click(function () {
			var table = $('#PendingSwap').DataTable();
			var selected = table.rows('.selected').data();
			var form = $('form#cancelReqForm')
			//Append data to form and submit 
			form.append('<input name="cancel_swap" value="' + selected[0].id + '" hidden> ')
			form.submit();
			table.rows('.selected').remove();
			table.draw(false);
		});

		// adds swap by employee type info to modal
		$('#byEmp').click(function () {
			//Get element to insert at 
			var origShiftVar = document.getElementById("swapShift1");
			var empName = document.getElementById("swapShiftEmp")
			var newShiftVar = document.getElementById("swapShift2");
			//Get selected data to put in modal 
			document.getElementById("submittedEmpSwap1").append("Original Shift: " + origShiftVar.options[origShiftVar.selectedIndex].text);
			document.getElementById("submittedEmpSwap2").append("Swapping with: " + empName.options[empName.selectedIndex].text);
			document.getElementById("submittedEmpSwap3").append("New Shift: " + newShiftVar.options[newShiftVar.selectedIndex].text);
		});

		//On clicking confirm in modal 
		// sends post request for swap by employee type
		$('#swapConfirmEmp').click(function () {
			var form = $('form#submitForm')
			form.submit()

		});

		//html element for the first dropdown, the original shift 
		let orig_shift_select = document.getElementById('swapShift1');
		//html element for second dropdown, the employee to swap with 
		let employee_select = document.getElementById('swapShiftEmp');
		//html element for third dropdown, the shift to swap to 
		let new_shift_select = document.getElementById('swapShift2');

		//when the original shift dropdown is changed, calls a fetch to return all qualifying employees and populate second dropdown
		orig_shift_select.onchange = function () {
			orig_shift = orig_shift_select.value;
			//corresponds to @app.route('/employee/<orig_shift>') in app.py 
			fetch('/employee/' + orig_shift).then(response => response.json())
				.then(data => {
					let optionHTML = '';
					//Adds each employee to dropdown 
					for (x in data) {
						optionHTML += '<option value=" ' + data[x].id_employee + ' " >' + data[x].first_name + " " + data[x].last_name + '</option>';
					}
					employee_select.innerHTML = optionHTML;
				})
		}
		//when an employee is selected (second dropdown) update the third dropdown with their shifts 
		employee_select.onchange = function () {
			employee_id = employee_select.value;
			//coresponds to @app.route('/newSwapShift/<employee_id>') in app.py 
			fetch('/newSwapShift/' + employee_id).then(response => response.json())
				.then(data => {
					let optionHTML = '';
					for (x in data) {
						//Adds each shift to dropdown 
						optionHTML += '<option value=" ' + data[x].id_shift_daypart + ' " >' + data[x].date   + " " + data[x].start_time + " - " + data[x].end_time + '</option>';
					}
					new_shift_select.innerHTML = optionHTML;
				})
		}

	</script>


</body>

</html>

{% endblock %}