{% extends 'layout.html' %}

{% block body %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


</head>

<body>

    <div class="list-group pt-2 text-white">
        <a class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1">Request Vacation</h3>
            </div>
        </a>
    </div>

    <div class="jumbotron" style="padding: 2rem 2rem;">

        <div> Select Date(s) to Request Off: </div>
        <input type="text" name="daterange" style="width:200px; border-radius: 0.25rem" style="text-align: center;" />
        <br>
        <form class="form-group" style="display: none" id="DaysOff">
            <div style="padding: 15px 0px 0px 0px;"> Please choose the duration: </div>
            <select class="form-control" id="HalfFull" style="width:200px" style="text-align: center; display:none">
                <option selected="">Select One</option>
                <option value="1">Half Day AM</option>
                <option value="2">Half Day PM</option>
                <option value="3">Full Day</option>
            </select>
        </form>
        <div id="numDays" style="padding: 15px 0px;"> </div>
        <br>
        <button type="button" id="submitBtn" class="btn btn-primary" disabled=true  data-toggle="modal" data-target="#myModal">Request Vacation </button>

        <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirm Vacation Request</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <fieldset class="form-group">
                                <div id="RangeSelected1"></div>
                                <div id="RangeSelected2"></div>
                                <div id="RangeSelected3"></div>

                            </fieldset>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>




        <script>
            $(function () {
                var days = 0
                $('input[name="daterange"]').daterangepicker({
                    opens: 'right',
                    startDate: moment().add(7, 'days'),
                    endDate: moment().add(7, 'days'),
                    minDate: moment().add(7, 'days'),
                    showDropdowns: true,


                },  
                $('input[name="daterange"]').on('apply.daterangepicker', function (ev, picker) {
                        document.getElementById("DaysOff").style.display = "none";

                        days = picker.endDate.diff(picker.startDate, 'days');
                        console.log("The difference is =", days);
                        start = picker.startDate.format("MM-DD-YYYY ");
                        end = picker.endDate.format("MM-DD-YYYY");

                        if (days == 0) {
                            document.getElementById("DaysOff").style.display = "block";
                            $("#HalfFull").on("change", function (e) {
                                console.log("Clicked");
                                var selected = $("#HalfFull option:selected").text();
                                console.log(selected);
                                if (selected == "Half Day AM" || selected == "Half Day PM") {
                                    days = 0.5;
                                    document.getElementById('numDays').innerHTML = "Number of Days Selected: " + days;
                                }
                                else if (selected == "Full Day") {
                                    days = 1;
                                    document.getElementById('numDays').innerHTML = "Number of Days Selected: " + days;
                                }
                                document.getElementById('RangeSelected1').innerHTML = "Date: " + start;
                                document.getElementById('RangeSelected2').innerHTML = "Time: " + selected;
                                document.getElementById('RangeSelected3').innerHTML = "Number of Days: " + days;

                            });
                        } else {
                            days = days + 1;
                            document.getElementById('numDays').innerHTML = "Number of Days Selected: " + days;
                            document.getElementById('RangeSelected1').innerHTML = "Start Date: " + start;
                            document.getElementById('RangeSelected2').innerHTML = "End Date: " + end;
                            document.getElementById('RangeSelected3').innerHTML = "Number of Days: " + days;


                        }

                        if (days != 0) {
                            document.getElementById('submitBtn').disabled = false;
                        }

                }) )

            });

        </script>
        <br>
        <br>
        <br>


    </div>





</body>

</html>

{% endblock %}