{% extends 'layout.html' %}

{% block body %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css" />
    <link href="https://cdn.datatables.net/rowgroup/1.0.2/css/rowGroup.dataTables.min.css" rel="stylesheet"
        type="text/css" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.0.2/js/dataTables.rowGroup.min.js"></script>

    <style>
        * {
            box-sizing: border-box;
        }

        /* Create two equal columns that floats next to each other */
        .column {
            float: left;
            width: 50%;
            padding: 10px;
            height: 300px;
            /* Should be removed. Only for demonstration */
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        td.active.start-date.in-range.available {
            color: white;
            background: #357ebd;
        }

        td.active.start-end.in-range.available {
            color: white;
            background: #357ebd;
        }

        td.in-range.available {
            background: #357ebd;
            color: white;
        }
    </style>

</head>

<body>
    <!-- Header -->
    <div class="list-group pt-2 text-white">
        <a class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1">Request Vacation</h3>
            </div>
            <hr class="my-1">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="mb-1">Vacation Days Left in 2020: {{ days_left[0]['vacation_hours'] }}</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <!-- End Header  -->

    <div class="jumbotron" style="padding: 0rem 2rem;">

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <!-- Date Range Picker  -->
                    <div style="padding-top:2rem;"> Select Date(s) to Request Off: </div>
                    <input type="text" name="daterange"
                        style="width:200px; border-radius: 0.25rem; padding-left:15px; height: 35px; " />
                    <br>
                    <!-- Duration Dropdown  -->
                    <form class="form-group" style="display: none" id="DaysOff">
                        <div style="padding: 15px 0px 0px 0px;"> Please choose the duration: </div>
                        <select class="form-control" id="HalfFull" style="width:200px"
                            style="text-align: left; display:none">
                            <option selected="">Select One</option>
                            <option value="Half Day AM">Half Day AM</option>
                            <option value="Half Day PM">Half Day PM</option>
                            <option value="Full Day">Full Day</option>
                        </select>
                    </form>
                    <!-- Populates with number of days  -->
                    <div id="numDays" style="padding: 15px 0px;"> </div>
                    <br>
                    <button type="button" id="submitBtn" class="btn btn-primary" disabled=true data-toggle="modal"
                        data-target="#submitModal">Request Vacation </button>

                    <!-- Modal  -->
                    <div class="modal" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Confirm Vacation Request</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table class="display" id="modal" name="dataTable" style="width:80%;">
                                        <thead>
                                            <tr>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Time </th>
                                                <th>Days Selected </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="submittedData" id="startDate"> </td>
                                                <td class="submittedData" id="endDate"> </td>
                                                <td class="submittedData" id="time"> </td>
                                                <td class="submittedData" id="noDays"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="confirmBtn" class="btn btn-primary">Confirm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Modal -->

                    <!-- Form used for post request when sending a new vacation request  -->
                    <form action="" id="submitForm" method="post">

                    <!-- Form used for post request when cancelling a vacation request  -->
                    <form action="" id="submitCancellation" method="post"> 


                </div>
                <!-- Pending Vacations Table -->
                <div class="col-sm" style="padding-top:2rem">
                    <div class="card text-black bg-secondary mb-3" style="padding: 10px 15px;">
                        <div style="font-size:16px"> <b> Requested Days Off </b></div>
                        <table class="display" name="dataTable" id="PendingVacation">
                            <thead>
                                <tr>
                                    <th> </th>
                                    <td> </td>
                                    <th scope="col" > Start Date </th>
                                    <th scope="col" > End Date </th>
                                    <th scope="col" > Time </th>
                                    <th scope="col" > Number of Days </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, val in pending_vacations.items() %}
                                <tr>
                                    <td> </td>
                                    <td> {{key}} </td>
                                    <td> {{val.start_date}} </td>
                                    <td> {{val.end_date}} </td>
                                    <td> {{val.time}} </td>
                                    <td> {{val.num_days}} </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                        <br>
                        <button type="button" class="btn btn-primary" id="cancelRequest" style="width: 120px;"> Cancel
                            Request</button>
                    </div>

                    <!-- Approved Vacations Table -->
                    <div class="card text-black bg-secondary mb-3" style="padding: 10px 15px;">

                        <div style="font-size:16px"> <b> Approved Days Off </b></div>
                        <table class="display" name="dataTable" id="ApprovedVacation">
                            <thead>
                                <tr>
                                    <th scope="col" > Start Date </th>
                                    <th scope="col" > End Date </th>
                                    <th scope="col" > Time </th>
                                    <th scope="col"> Number of Days </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, val in scheduled_vacations.items() %}
                                <tr>
                                    <td> {{val.start_date}} </td>
                                    <td> {{val.end_date}} </td>
                                    <td> {{val.time}} </td>
                                    <td> {{val.num_days}} </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>


                    <script type="text/javascript" class = "init">
                        $(function () {
                            //Initializer for date range picker 
                            $('input[name="daterange"]').daterangepicker({
                                opens: 'right',
                                startDate: moment().add(7, 'days'),
                                endDate: moment().add(7, 'days'),
                                minDate: moment().add(7, 'days'),
                                showDropdowns: true,
                                "maxSpan": {
                                    "days": 4
                                },

                            },
                            //once dates are picked, determines number of days chosen 
                                $('input[name="daterange"]').on('apply.daterangepicker', function (ev, picker) {
                                    //clear all selections 
                                    $('#HalfFull').prop('selectedIndex', 0);
                                    document.getElementById("numDays").innerHTML = "";
                                    document.getElementById("DaysOff").style.display = "none";
                                    //determine number of days requesting off 
                                    var days = picker.endDate.diff(picker.startDate, 'days');
                                    start = picker.startDate.format("MM-DD-YYYY ");
                                    end = picker.endDate.format("MM-DD-YYYY");

                                    var start_elem = document.getElementById('startDate')
                                    start_elem.innerHTML = start
                                    var end_elem = document.getElementById('endDate')
                                    end_elem.innerHTML = end

                                    //If the start date and end date are the same 
                                    if (days == 0) {
                                        document.getElementById("DaysOff").style.display = "block";
                                        $("#HalfFull").on("change", function (e) {
                                            //Get value chosen in dropdown 
                                            selected = $("#HalfFull option:selected").text();
                                            console.log(selected);
                                            if (selected == "Half Day AM" || selected == "Half Day PM") {
                                                days = 0.5;
                                            }
                                            else if (selected == "Full Day") {
                                                days = 1;
                                            }
                                            document.getElementById('time').innerHTML = selected;
                                            document.getElementById('noDays').innerHTML = days;
                                            document.getElementById('numDays').innerHTML = "Number of Days Selected: " + days;
                                            document.getElementById('submitBtn').disabled = false;

                                        });
                                    }
                                    //If a range of days was selected 
                                    else {
                                        days = days + 1;
                                        document.getElementById('time').innerHTML = "N/A";
                                        document.getElementById('noDays').innerHTML = days;
                                        document.getElementById('numDays').innerHTML = "Number of Days Selected: " + days;
                                        document.getElementById('submitBtn').disabled = false;
                                    }
                                }))

                        });
                        //when user clicks confirm, data sent to request pending_vacations table  
                        $('#confirmBtn').click(function () {

                            //convert dates timestamp form  
                            var start_date = document.getElementById('startDate').innerHTML
                            var end_date = document.getElementById('endDate').innerHTML
                            var datum = Date.parse(start_date)
                            start_date = datum / 1000
                            var datum2 = Date.parse(end_date)
                            end_date = datum2 / 1000

                            var form = $('form#submitForm')
                            //need to create time column in pending_vacations table 
                            //form.append('<input name="start_date" value="'+  document.getElementById('time').innerHTML +'" hidden> ')
                            form.append('<input name="start_date" value="' + start_date + '" hidden> ')
                            form.append('<input name="end_date" value="' + end_date + '" hidden> ')
                            form.append('<input name="num_days" value="' + document.getElementById('noDays').innerHTML + '" hidden> ')
                            form.submit()
                            $('#submitModal').modal('hide');

                        });

                        //Pending vacation requests table 
                        $('#PendingVacation').DataTable({
                                columnDefs: [{
                                    orderable: false,
                                    className: 'select-checkbox',
                                    targets: 0,
                                    defaultContent: '',
                                }],
                                select: {
                                    style: 'os',
                                    selector: 'td:first-child'
                                },
                                //Column titles 
                                columns: [
                                    {data : "checkMark"},
                                    { data: "id", "visible": false },
                                    { data: "Start date" },
                                    { data: "End date" },
                                    { data: "Time" },
                                    { data: "Num Days" },
                                ],
                                "language": {
                                    "emptyTable": " "
                                },
                                "paging": false,
                                "searching": false,
                                "ordering": false,
                                "info": false,
                                responsive: true,
                        });
                        //Approved vacation request table 
                        $('#ApprovedVacation').DataTable({
                                "language": {
                                    "emptyTable": " "
                                },
                                "paging": false,
                                "searching": false,
                                "ordering": false,
                                "info": false,
                                responsive: true,
                        });
                
                        //Cancel pending vacation requst 
                        $('#cancelRequest').click(function () {
                            var table = $('#PendingVacation').DataTable()
                            var selected2 = table.rows('.selected').data()

                            var form2 = $('form#submitForm')
                            form2.append('<input name="cancel_vacation" value="' + selected2[0].id + ' " hidden >')
                            form2.submit()
                            table.rows('.selected').remove()
                            table.draw(false)
                        });
                    </script>
                </div>
            </div>
        </div>



    </div>



</body>

</html>

{% endblock %}