{% extends 'layout.html' %} {% block body %}
<div>
  <div
    class="jumbotron"
    style="padding: 2rem 2rem; width: 400px; margin: auto;"
  >
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h4 class="card-title">Verify Email</h4>
        <p class="card-text">
          Please check the email account listed for a verification code and
          enter it below. If you have not received the email then check your
          junk/spam. If the issue persists then click the "Resend Email" button
          below.
        </p>
      </div>
    </div>
    {% if error %}
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
      <div class="card-body">
        <h4 class="card-title">Verify Email</h4>
        <p class="card-text">
          {{error}}
        </p>
      </div>
    </div>
    {% endif %}
    <form method="POST" action="">
      {% from "includes/_formhelper.html" import render_field %}
      <form method="POST" action="">
        <div class="form-group">
          {{render_field(form.email, class_="form-control", disabled=True,
          value=user.email)}}
        </div>
        <div class="form-group">
          {{render_field(form.code, class_="form-control")}}
        </div>
        <input
          type="submit"
          name="submit_button mr-1"
          class="btn btn-primary"
          value="Submit"
        />
        <a class="btn btn-primary mr-1" href="/verifyemail" role="button"
          >Resend Email</a
        >
        <a class="btn btn-primary mr-1" href="/settings" role="button"
          >Settings</a
        >
      </form>
    </form>
  </div>
</div>
{% endblock %}
